{{define "content"}}
<section class="page-panel" aria-labelledby="projects-title">
  <div class="page-header">
    <div>
      <h2 class="page-title" id="projects-title">项目</h2>
      <p class="page-description">用项目组织相关蓝图和环境。</p>
    </div>
    <a class="button button-primary" href="/projects/new">新建项目</a>
  </div>
  <div class="table-wrap responsive-table-wrap">
    <table class="data-table responsive-table">
      <caption class="sr-only">项目列表</caption>
      <thead><tr><th scope="col">名称</th><th scope="col">描述</th><th scope="col">操作</th></tr></thead>
      <tbody id="project-rows">{{template "project_rows" .Projects}}</tbody>
    </table>
  </div>
</section>
{{end}}
